<div id="main-container" class="container">
    <div class="row position-absolute top-5 start-50 translate-middle" >
        <app-theme></app-theme>
    </div>
    <div class="row">
        <app-typing-field></app-typing-field>
    </div>

    <div id="keys" class="row">
        <div class="row">
            <div class="col-3">
                <button id="btnAC" class="keys" value="AC" (click)="btnAC()">AC</button>
            </div>
            <div class="col-3">
                <button id="btnRST" class="keys" value="RST" (click)="btnRST()">RST</button>
            </div>
            <div class="col-3">
                <button id="btn" class="keys" value="precentage" (click)="btnPrecentage()">%</button>
            </div>
            <div class="col-3">
                <button id="division" class="keys" value="divi" (click)="btnDevide()"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button value="7" (click)="btn7()">7</button>
            </div>
            <div class="col-3">
                <button value="8" (click)="btn8()">8</button>
            </div>
            <div class="col-3">
                <button value="9" (click)="btn9()">9</button>
            </div>
            <div class="col-3">
                <button id="multi" (click)="btnMultiply()"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button (click)="btn4()">4</button>
            </div>
            <div class="col-3">
                <button (click)="btn5()">5</button>
            </div>
            <div class="col-3">
                <button (click)="btn6()">6</button>
            </div>
            <div class="col-3">
                <button id="minus" (click)="btnMinus()"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button (click)="btn1()">1</button>
            </div>
            <div class="col-3">
                <button (click)="btn2()">2</button>
            </div>
            <div class="col-3">
                <button (click)="btn3()">3</button>
            </div>
            <div class="col-3">
                <button id="plus" (click)="btnPlus()"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button id="backspace" (click)="btnReturn()"></button>
            </div>
            <div class="col-3">
                <button (click)="btn0()">0</button>
            </div>
            <div class="col-3">
                <button (click)="btnFullStop()">.</button>
            </div>
            <div class="col-3">
                <button id="equal" (click)="btnEqual()"></button>
            </div>
        </div>
    </div>
</div>